body{
  font-family: 'Roboto', sans-serif;
}

a:link , a:visited{
  color: #ff6600;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#Wrap{
  width: 960px;
  margin: auto;
  padding: 10px 20px;
  background: #e3e3e3;
}

header h1{
  text-align: center;
}

header nav ul li{
  display: inline;
  margin-right: 78px;
}

header nav ul{
  list-style: none;
  padding-left: 0px;
}

header nav ul li a{
  font-size: 18px;
}

#Content{
  float: left;
  width: 660px;
}

#SideBar{
  float: right;
  width: 300px;
}

#SideBar ul{
  list-style: none;
}

footer{
  clear: both;
}

label, input[type=submit], textarea{
  display: block;
}

input{
  cursor: pointer;
}

input[type=text]{
  cursor: auto;
}

.p1{
  width: 650px;
  text-align: justify;
  font-size: 14px;
}
